<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Vehicle Management</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Vehicle</a></li>
            <li class="breadcrumb-item active">Management</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <app-vehicle-search></app-vehicle-search>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                  <h4><label for="search-box">Vehicle Options</label></h4>
                  <a routerLink="/vehicle-detail" class="btn btn-default">Add Vehicle</a>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>Plate</th>
                        <th>Model</th>
                        <th>Manufacturer</th>
                        <th>Color</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let vehicle of vehicles">
                        <td>{{vehicle.plate}}</td>
                        <td>{{vehicle.model}}</td>
                        <td>{{vehicle.manufacturer}}</td>
                        <td>{{vehicle.color}}</td>
                        <td>{{vehicle.status}}</td>
                        <td>
                          <a routerLink="/vehicle-detail/{{vehicle.id}}"
                             class="btn btn-success">
                            Edit
                          </a>
                          <button class="btn btn-danger" title="Delete Vehicle" 
                            (click)="deleteVehicle(vehicle)">Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
    </div>
</section>